parameters:
    level: max
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    tmpDir: build/phpstan
